<!-Local Time Clock widget - HTML code - localtimes.info -->
<div align="center" style="margin:15px 0px 0px 0px">
	<div align="center" style="width:140px;border:1px solid #ccc;background:#fff ;color: #fff ;font-weight:bold">
	<a style="padding:2px 1px;margin:2px 1px;font-size:12px;line-height:16px;font-family:arial;text-decoration:none;color:#000" href="http://localtimes.info/Asia/Pakistan/Islamabad/">
		<img src="http://localtimes.info/images/countries/pk.png" border=0 style="border:0;margin:0;padding:0">&nbsp;Time in Lahore </a>
	</div>
	<script type="text/javascript" src="http://localtimes.info/clock.php?continent=Asia&country=Pakistan&city=Islamabad&color=black-white&widget_number=1000">
	</script>
</div>
<!-end of code-->